#game {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  max-width: 300px;
  margin: 50px auto;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  background-color: #f0f0f0;
}